# Ignore everything
*

# Allow directories
!/data
!/jukebot
!/logs

# Allow files
!/docker-compose.yml
!/Dockerfile
!/.dockerignore
!/pyproject.toml
!/uv.lock
!/.env.example
!/README.md
!/LICENSE.md

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
