[tool.poetry]
name = "JukeBot"
version = "0.1.0"
description = "A music bot for Discord using Nextcord"
authors = ["Dysta <xav4098@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
python-dotenv = "^0.19.1"
yt-dlp = "^2021.11.10"
nextcord = {extras = ["speed", "voice"], version = "^2.0.0-alpha.3"}
motor = "^2.5.1"
dnspython = {version = "^2.1.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.10b0"
mypy = "^0.910"
autoflake = "^1.4"

[tool.poetry.extras]
mongouri = ["dnspython"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
