[tool.poetry]
name = "JukeBot"
version = "0.1.0"
description = "A music bot for Discord using Pycord"
authors = ["Dysta <xav4098@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
python-dotenv = "^0.19.1"
py-cord = {extras = ["voice"], version = "^1.7.3"}
yt-dlp = "^2021.11.10"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^21.10b0"
mypy = "^0.910"
autoflake = "^1.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
