name: Docker Image CI

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      repo_name: 'dysta/jukebot'

    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: '${{ env.repo_name }}:latest'

      - name: Update repo description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ env.repo_name }}
          short-description: Discord music bot written in Python 3
          readme-filepath: ./README.md